/************************
	General Styling
************************/

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-size: 16px;
	font-weight: normal;
}
*:focus{
	outline: none;
}
a{
	text-decoration: none;
}
a, body{
	color: #333;
}
body{
	font-family: 'Open Sans', sans-serif;
}
html, body{
	height: 100%
}
.body-wrapper {
	min-height: 100%;
}
section{
	margin-top: 2rem;
}
h1, h2, h3, nav{
	font-family: 'Montserrat', sans-serif;
	padding: 0;
	margin: 0;
}
section h2, header h3{
	font-size: 2rem;
}
.bold{
	font-weight: 600;
}
.pointer
{
	cursor: pointer;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.hamburger{
	display: none;
}


/************************
	Header Styling
************************/

header h1, section h2, header h3, footer{
	text-align: center;
}
header h1{
	font-size: 4rem;
}
header{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}
.left-header{
	background-color: #D1E5E4;
	height: 25rem;
	width: 20%;
	display: flex;
	flex-direction: column;
	align-content: center;
}
.logo{
	height: 75px;
	width: 75px;
	margin-left: 1rem;
	margin-top: .25rem;
}
.right-header{
	background-color: #EAF4F3;
	height: 25rem;
	width: 80%;
	justify-content: center;
	align-content: center;
	position: relative;
}
.header-text {
	padding-top: 5rem;
	z-index: 999;
}
/*skyline drawing animation*/
svg{
	height: 25rem;
	width: 100%;
	overflow: hidden;
	position: absolute;
	top: 0rem;
	left: 0;
	z-index: 998;
}
@keyframes offset {
  100% {
    stroke-dashoffset: 0;
  }
}
.skyline-outline{
	stroke: #333;
	stroke-width: 4.15;
	stroke-dasharray: 17000;
	stroke-dashoffset: 17000;
	animation: offset 8s linear forwards;
}


/************************
	Nav Styling
************************/

nav li{
	display: flex;
	padding: 1rem;
	margin: 0 1rem;
}
nav li:hover{
	background-color: #FFB0B0;
	color: #fff;
	font-weight: bold;
}


/************************
	About Styling
************************/
.about-content, .contact{
	width: 65%;
	margin: 0 auto;
}
h2{
	margin: 2rem;
}
.about-content img{
	height: 18rem;
	width: auto;
	margin-right: 5rem;
	float: left;
	margin-bottom: 2rem;
}
p{
	line-height: 1.75rem;
}
.about-content p:last-child{
	margin-top: 2rem;
}


/************************
	Projects Styling
************************/
.projects-wrapper{
	background-color: #EAF4F3;
	margin: 0 auto;
	padding-bottom: 2rem;
	text-align: center;
	clear: both;
}	
.projects-wrapper h2{
	padding-top: 2rem;
}
.project-thumbnail{
	width: 100%;
}
.project-box{
	width: 55%;
	margin: 1rem;
	padding: 1rem;
	display: inline-block;
}
.project-box p, .project-box a{
	text-align: center;
	font-size: 1.15rem;
	padding: 0 1rem;
	line-height: 2rem;
}
.project-box a{
	color: #fff;
	background-color: #FFB0B0;
	padding: .5rem 2.5rem;
	border-radius: .5rem;
	margin: 0 1.5rem;
}
.project-box a:hover{
	color: #333;
	background-color: #D1E5E4;
}
.link-wrapper{
	display: flex;
	flex-direction: row;
}

/*slide transitions*/
.project {
	position: relative;
	line-height: 0;
	overflow: hidden;
}
.project-overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0; 
	left: 0;
	padding-left: 20px;
	padding-right: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	background: rgba(0,0,0, .5);
}
.project-overlay h4 {
	margin-top: 2rem;
	font-size: 1.75rem;
	padding: 1.5rem;
	border-bottom: 2px solid #333;
}
.slide .project-overlay {
	opacity: 1;
	background: #fff;
}
.project-overlay {
	opacity: 0;
	transition: opacity .5s;
}
.project-overlay:hover {
	opacity: 1;
}
.slide .project-overlay,
.slide img {
	transition: transform .8s ease-out;
}

.slide .project-overlay {
	transform: translateX(-100%);
}

.slide:hover .project-overlay {
	transform: translateX(0);
}

.slide:hover img {
	transform: translateX(100%); 
}


/************************
	Contact Box Styling
************************/

/*contact area divs*/
.contact-content-wrapper{
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: center;
}
.contact-p{
	width: 85%;
	margin-right: 8rem;
	margin-bottom: 2rem;
}
.contact-column1{
	width: 85%;
}

/*icons styling*/
.icons i{
	font-size: 2.5rem !important;
	margin: 2rem 3.75rem 1rem 0;
}
i:hover{
	color: #FFB0B0;
}

.contact, .project-page-wrapper{
	padding-bottom: 6rem;
}

/*contact form*/
.contact-area {
	width: 75%;
}
.contact-area input, .contact-area textarea {
	padding: .25rem;
	width: 100%;
	margin-bottom: 1.5rem;
	border: 2px solid #ccc;
}
#message{
	margin-bottom: 1rem;
}
.contact-area textarea {
	height: 5rem;
}
.contact-area input.submit-button{
	width: 6rem;
	margin-bottom: 0;
	right: 0;
}
.thanks-content-wrapper{
	text-align: center;
}
input.submit-button{
	padding: .5rem;
	margin: 0 auto;
	border: none;
	background-color: #FFB0B0;
	color: #fff;
}
input.submit-button:hover{
	background-color: #D1E5E4;
	color: #333;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}
.contact-thanks{
	margin-top: 13rem;
}
.contact-response{
	padding: 2rem;
	font-size: 1.25rem;
}


/************************
	Footer Styling
************************/
footer{
	background-color: #D1E5E4;
	height: 4rem;
	margin-top: -4rem;
	position: relative;
	clear: both;
}
footer p{
	padding-top: 1rem;
}


	
/************************
	Media Queries Styling
************************/
@media only screen and (max-width: 1265px){
	.about-content,
	.contact{
		width: 70%;
	}
}
@media only screen and (max-width: 1060px){
	.about-content,
	.contact{
		width: 85%;
	}
	i{
		margin-right: 3rem !important;
	}
}
@media only screen and (max-width: 855px){
	header h1{
		font-size: 3rem;
	}
	h2, h3{
		font-size: 1.5rem;
	}
	.header-text {
		padding-top: 7rem;
	}
	.project-box{
		width: 80%;
	}
	i{
		margin-right: 2.5rem !important;
	}
	.inner-wrapper{
		flex-direction: column;
	}
	.project-page-thumbnail-wrapper,
	.project-page-description{
		width: 90%;
		margin: 0 auto;
	}
	.project-page-description{
		margin-top: 4rem;
		margin-bottom: 6rem;
	}
}
@media only screen and (max-width: 720px){
	.right-header{
		width: 100%;
		height: 15rem;
	}
	.header-text {
		padding-top: 4rem;
	}
	header{
		flex-direction: column;
	}
	.left-header{
		height: 5rem;
		width: 100%;
	}
	.logo{
		position: absolute;
		top: 0rem;
		left: 0;
	}
	.menu li{
		float: right;
		text-align: right;
		font-size: .85rem;
		padding: 1rem .5rem;
		margin: 1rem .5rem;
	}
	i{
		margin-right: 2rem !important;
	}
	svg{
		height: 16rem;
	}
	.project-overlay h4 {
	    margin-top: .5rem;
	    font-size: 1.5rem;
	}
	.project-box p, .project-box a {
	    font-size: 1rem;
	    line-height: 1.5rem;
	}
}
@media only screen and (max-width: 670px){
	h1{
		font-size: 2.85rem;
	}
	.project-box{
		width: 80%;
	}
	.about-content{
		flex-direction: column;
	}
	.about-content img{
		display: none;
	}
	.contact-content-wrapper{
		display: inline-block;
	}
	.contact-column1{
		width: 100%;
	}
	.contact-p{
		margin-right: 0;
		width: 100%;
	}
	.icons{
		text-align: center;
		margin-bottom: 2rem;
	}
	.contact-area{
		width: 100%;
	}
	.project-page-h2{
		padding: 1.5rem 0;
	}
	.project-page-wrapper{
		padding: 0 1rem;
	}
	i{
		margin-right: 3.5rem !important;
	}
}
@media only screen and (max-width: 550px){
	header h1{
		font-size: 2.7rem;
	}
	.project-box {
	    width: 90%;
	}
	.project-overlay h4 {
	    margin-top: .5rem;
	    font-size: 1.5rem;
	    padding: 1rem;
	}
	.project-box a{
		font-size: 1rem;
		padding: 0 .75rem;
		line-height: 1.5rem;
		padding: .25rem 2rem;
	}
	.logo{
		height: 60px;
		width: 60px;
		margin-left: .75rem;
		margin-top: .75rem;
	}

	/*hamburger menu styling*/
	.left-header{
		text-align: center;
		width: 100%;
	}
	.hamburger{
		cursor: pointer;
		padding: 1.2rem .5rem;
		display: block;
		position: absolute;
		top: 0;
		right: .5rem;
	}
	.bar1, .bar2, .bar3 {
	    width: 35px;
	    height: 5px;
	    background-color: #333;
	    margin: 6px 0;
	    transition: 0.4s;
	}

	.change .bar1 {
	    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
	    transform: rotate(-45deg) translate(-9px, 6px) ;
	}

	.change .bar2 {
	    opacity: 0;
	}

	.change .bar3 {
	    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
	    transform: rotate(45deg) translate(-8px, -8px) ;
	}

	nav ul{
		z-index: 999;
		position: absolute;
		top: 5rem;
		left: 0;
		right: 0;
	}
	.menu li{
		display: block;
		text-align: center;
		width: 100%;
		background-color: #EAF4F3;
		margin: 0;
		padding-top: 1.27rem;
		padding-bottom: 1.27rem;
	}
	.pages-header a{
		color: #333;
		padding-left: 8rem;
		padding-right: 8rem;
	}
	.menu{
		height: 0;
		overflow: hidden;
		transition: height 0.3s;
	}
	.open{
		height: 255px; 
	}
}
@media only screen and (max-width: 465px){
	header h1{
		font-size: 2.5rem;
	}
	i{
		font-size: 2rem !important;
		margin-right:2.5rem !important;
	}
	.project-box {
	    width: 95%;
	}
	.project-overlay h4 {
	    margin-top: .5rem;
	    font-size: 1.15rem;
	    padding: .75rem;
	}
	.project-box a{
		font-size: 1rem;
		padding: 0 .75rem;
		line-height: 1.5rem;
		padding: .25rem 2rem;
	}
	.project-box p, .project-box a {
	    font-size: .9rem;
	    line-height: 1.25rem;
	}
}
@media only screen and (max-width: 400px){
	header h1{
		font-size: 2rem;
	}
	header h3{
		font-size: 1.5rem;
	}
	.header-text{
		padding-top: 5.25rem;
	}
	.project-page-wrapper{
		padding: 0 .25rem;
	}
}