* { margin:0; padding:0; box-sizing:border-box;
} 

body{
	font-size: 16px;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
	height: 100%;
	background: rgba(0, 153, 153, .02);
}

h1{
	font-size: 4em;
}

h2{
	font-weight: normal;
	padding-top: .5em;
}

#main-content{
	text-align: center;
	background: #009999;
	padding: 2em 0;
}

#tagline{
	font-size: 1em;
	text-align: center;
	padding: 1em 0;
	width: 100%;
}

section a:hover{
	background: #a6107c;
	text-decoration: none;
	color: #fff;
}

.box-link{
	position: relative;
	display: inline;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
}

section a{
	position: absolute;
	width: 74%;
	text-decoration: none;
	color: rgba(51, 51, 51, .75);
	background: #fff;
	margin-top: 35%;
	margin-left: 12.75%;
	padding: 1.25em;
}

#row1{
	text-align: center;
	margin-top: 3em;
	position: relative;
}

#row2{
	text-align: center;
	margin-bottom: 3em;
	position: relative;
}

.portfolio-image{
	max-height: 315px;
	padding: .5em;
	margin: 3em 4em;
	border: .15em solid rgba(51, 51, 51, .75);
}

.portfolio-link{
	display: inline-block;
}

#about-container{
	background: #009999;
	padding: 4em 0;
}

.about{
	width: 50%;
	margin: 0 auto;
	text-align: left;
	font-size: 1.5em;
	line-height: 1.75em;
	padding-bottom: 8%;
}

#headshot{
	float: left;
	width: 33.33%;
	padding-right: 1.5em;
}

#resume{
	border: .175em solid #333;
	width: 50%;
}

#resume-container{
	margin: 4em 0;
	text-align: center;
}

footer{
/*	bottom: 8px;*/
	border-top: .15em solid rgba(51, 51, 51, .75);
	width: 100%;
	text-align: center;
	padding-top: 1em;
}

.social{
	width: 50px;
	margin: 0 1em;
}

.portfolio-images{
	max-height: 550px;
	padding: 2em;
}

#portfolio-sportswear, #portfolio-dresses, #portfolio-moodboards, #portfolio-sketches{
	text-align: center;
	margin: 2em 0;
}

nav{
	text-align: center;
	margin: 6em 0;
}

nav a{
	text-decoration: none;
	padding: 1.5em;
	background: #009999;
	color: #fff;
	font-size: 1.25em;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0 .5em;
}

nav a:hover{
	background: #a6107c;
}

.clearfix:after {
	content: ".";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

@media only screen and (max-width: 1564px){
	h1{
		font-size: 3.5em;
	}
}

@media only screen and (max-width: 1135px){
	.about{
		width: 80%;
	}

	#resume{
		width: 75%;
	}

	.portfolio-image{
		max-height: 275px;
		margin: 3em 3em;
	}
}	

@media only screen and (max-width: 885px){
	.portfolio-image{
		max-height: 225px;
		margin: 2em 2em;
	}
}	

@media only screen and (max-width: 749px){
	#headshot{
		width: 40%;
	}

	#resume{
		width: 85%;
	}

	nav a{
		font-size: 1.25em;
	}
}

@media only screen and (max-width: 700px){
	.portfolio-image{
		max-height: 315px;
		margin: 2em;
	}
}	

@media only screen and (max-width: 495px){
	h1{
		font-size: 2.5em;
	}

	h2{
		font-size: 1.25em;
	}

	#headshot{
		float: none;
		width: 80%;
		margin: 0 auto;
		margin-top: 5%;
		margin-bottom: 5%;
		padding: 0;
		display: block;
	}

	#info{
		float: none;
		width: 95%;
		padding: 0;
		margin: 0 auto;
		margin-bottom: 5%;
	}

	#resume, .about{
		margin-top: 5%;
	}

	#info{
		font-size: .9em;
	}
}	

@media only screen and (max-width: 388px){
	#info{
		font-size: .8em;
	}
}